body{
    background-color: black;
}

#greet-div{
    color: white;
    width: 50%;
    padding-top: 200px;
    text-align: center;
    margin: auto;
    height: 1080px;
}
#greet{
    color: white;
    font-size: 10vmin;
    font-family: Exo, monospace;
    animation-name: fade;
    animation-duration: 3s;
}
#main-content{
    margin-top: 10vmin;
}
#heading1{
    text-align: center;
    color:white;
    font-family: Exo, cursive;
    font-size: 50px;
}
#heading2{
    text-align: center;
    color:white;
    font-family: Exo, cursive;
    font-size: 30px;
}
#Yscore{
    padding-left: 30vmin;
    text-align: left;
    color:white;
    font-family: Exo, cursive;
    font-size: 30px;
}
#Cscore{
    padding-left: 30vmin;
    text-align: left;
    color:white;
    font-family: Exo, cursive;
    font-size: 30px;
}
#choice-div{
    margin-top: 10vmin;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.choice-btn{
    margin-left: 5vmin;
    margin-right: 5vmin;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: black;
    border: 3px solid white;
    color: white;
    visibility: visible;
}

.choice-btn:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 10px 10px #0066ff;
    border: 1px solid #0066ff;
    color: #ffccff;
    border-radius: 5px;
}
.choice-btn:active{
    transform: translate(0px, 0px);
    box-shadow: 0px 10px 10px gold;
    border: 3px solid gold;
}

#Yscore, #Cscore{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    letter-spacing: 0.1em;
}

i{
    font-size: 100px;
}
@media screen and (max-width: 720px){
    #choice-div{
        flex-direction: column;
    }
    .choice-btn{
        margin-bottom: 10vmin;
        margin-left: auto;
        margin-right: auto;
    }
    #Yscore{
        text-align: center;
        padding-left: 0;
    }
    #Cscore{
        text-align: center;
        padding-left: 0;
    }
}
#forStart{
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
#start{
    margin-top: 5%;
    font-family: "Kaushan Script";
    font-size: 40px;
    border: 0px;
    width: 300px;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 0px 5px 10px white;
    border-radius: 10px;
}
#start:active{
    transform: translate(0px, 5px);
    border: 3px solid white;
}


@keyframes fade{
    0%{
        color:white;
    }
    100%{
        color: black;
    }
}

